<%- include("header") %>
<div class="section background-black content-center color-white" style="background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%88%98%EA%B0%95%EC%8B%A0%EC%B2%AD+%EB%A9%94%EC%9D%B8%EC%9D%B4%EB%AF%B8%EC%A7%80+(Medium).jpg');">
    <div class="background-image" style="background-color: rgba(0,0,0,.6);"></div>
    <div class="calHeight" heightRatio="0.3"></div>
    <div class="container align-center">
        <span class="text-title">
            블록체인 개발, 이제 전문가에게 직접 배워보세요
        </span>
        <br>
        <span class="text-subtitle">
            생생한 실무 정보를 현업 전문가들로부터 들어보세요!
        </span>
    </div>
    <div class="calHeight" heightRatio="0.3"></div>
</div>
<div class="section background-white v-padding-5">
    <div class="container align-center">

        <div class="partition partition-3 h-padding-1" style="opacity: .6;">
            <a id="btn_form_1" style="display: block; text-decoration: none;" class="background-highlight h-padding-1 v-padding-1 color-white">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div> -->
                <br>
                <span class="text-subtitle">
                    비즈니스를 위한<br>
                    블록체인의 이해<br>
                </span>
                <br>
                <br>
                <span class="h-padding-3" style="display: block;">
                    블록체인 비즈니스<br>
                    입문자를 위한<br>
                    블록체인의 기초 개념 및 사업적 특성 이해<br>
                    <br>
                </span>
                <br>
                <sub>
                    블록체인에<br>
                    관심 있는 누구나<br>
                </sub>
                <br>
                <span class="text-subtitle">
                    3주 과정<br>
                    149,000원<br>
                </span>
                <br>
            </a>
        </div>
        <div class="partition partition-3 h-padding-1">
            <a id="btn_form_2" style="display: block; text-decoration: none;" class="background-highlight h-padding-1 v-padding-1 color-white" href="https://goo.gl/forms/BkOkVXvc9CotfMGu2" target="_blank">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div> -->
                <br>
                <span class="text-subtitle">
                    EOS 블록체인<br>
                    개발 기초<br>
                </span>
                <br>
                <br>
                <span class="h-padding-3" style="display: block;">
                    블록체인 개발을<br>
                    구체적 과정을 습득,<br>
                    예제와 실습을 통한<br>
                    EOS 개발 입문<br>
                    <br>
                </span>
                <br>
                <sub>
                    블록체인을 배우려는<br>
                    개발자 및 대학생<br>
                </sub>
                <br>
                <span class="text-subtitle">
                    4주 과정<br>
                    198,000원<br>
                </span>
                <br>
            </a>
        </div>
        <div class="partition partition-3 h-padding-1">
            <a id="btn_form_3" style="display: block; text-decoration: none;" class="background-highlight h-padding-1 v-padding-1 color-white" href="https://goo.gl/forms/DQeQDrzghuf5frY83" target="_blank">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div> -->
                <br>
                <span class="text-subtitle">
                    실전 EOS<br>
                    dAPP의 개발<br>
                </span>
                <br>
                <br>
                <span class="h-padding-3" style="display: block;">
                    EOSIO를 활용한<br>
                    스마트 컨트랙트와<br>
                    실제 EOS Dapp<br>
                    개발 및 구현<br>
                    <br>
                </span>
                <br>
                <sub>
                    기초 지식이 있는<br>
                    개발 전공자<br>
                </sub>
                <br>
                <span class="text-subtitle">
                    6주 과정<br>
                    498,000원<br>
                </span>
                <br>
            </a>
        </div>
        <div class="partition partition-3 h-padding-1" style="opacity: .6;">
            <a id="btn_form_4" style="display: block; text-decoration: none;" class="background-highlight h-padding-1 v-padding-1 color-white">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div> -->
                <br>
                <span class="text-subtitle">
                    EOS Dapp<br>
                    현업 실무자 캠프<br>
                </span>
                <br>
                <br>
                <span class="h-padding-3" style="display: block;">
                    dAPP을 개발 관련<br>
                    노하우를 습득하거나<br>
                    현직 개발자들과의<br>
                    개발 네트워킹<br>
                    <br>
                </span>
                <br>
                <sub>
                    기초적인 Dapp<br>
                    구현이 가능한 개발자<br>
                </sub>
                <br>
                <span class="text-subtitle">
                    6주 과정<br>
                    998,000원<br>
                </span>
                <br>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="partition partition-12 v-padding-3">
            <span class="text-subtitle">
                강연에 대한 더 자세한 정보가 알고 싶으신가요?
            </span>
            <a class="button button-highlight" href="/course">모든 강연 보기</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<%- include("footer") %>