<%- include("header") %>
<div class="section background-black content-center color-white">
    <div class="calHeight" heightRatio="0.3"></div>
    <div class="container align-center">
        <span class="text-title">
            블록체인 개발, 이제 전문가에게 직접 배워보세요
        </span>
        <br>
        <span class="text-subtitle">
            생생한 실무 정보를 현업 전문가들로부터 들어보세요!
        </span>
    </div>
    <div class="calHeight" heightRatio="0.3"></div>
</div>
<div class="section background-white v-padding-5">
    <div class="container align-center">
            <div class="partition partition-3 h-padding-1">
                    <div class="background-highlight h-padding-1 v-padding-1 color-white">
                        <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div>
                        <br>
                        <span class="text-subtitle">
                            블록체인 기초
                        </span>
                        <br>
                        <br>
                        <span class="h-padding-3" style="display: block;">
                            블록체인에 관심 있는 누구나<br>
                        </span>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="partition partition-3 h-padding-1">
                    <div class="background-highlight h-padding-1 v-padding-1 color-white">
                        <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div>
                        <br>
                        <span class="text-subtitle">
                            EOS 개발 기초
                        </span>
                        <br>
                        <br>
                        <span class="h-padding-3" style="display: block;">
                            블록체인 개발을 본격적으로 시작하려는 사람<br>
                        </span>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="partition partition-3 h-padding-1">
                    <div class="background-highlight h-padding-1 v-padding-1 color-white">
                        <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div>
                        <br>
                        <span class="text-subtitle">
                            dAPP 실전 개발
                        </span>
                        <br>
                        <br>
                        <span class="h-padding-3" style="display: block;">
                            현업에서 블록체인을
                            실무로 활용하려는 사람 <br>
                        </span>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="partition partition-3 h-padding-1">
                    <div class="background-highlight h-padding-1 v-padding-1 color-white">
                        <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                        </div>
                        <br>
                        <span class="text-subtitle">
                            EOS/dAPP 실무
                        </span>
                        <br>
                        <br>
                        <span class="h-padding-3" style="display: block;">
                            블록체인에 대해서
                            전문성을 가지려는 사람 <br>
                        </span>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="clearfix"></div>
        <div class="partition partition-12 v-padding-3">
            <span class="text-subtitle">
                    강연에 대한 더 자세한 정보가 알고 싶으신가요?
            </span>
            <a class="button button-highlight">모든 강연 보기</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<%- include("footer") %>