<%- include("header") %>
<div class="section background-black align-center" style="margin-top: 60px; background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/%EA%B3%A0%EA%B0%9D%EC%84%BC%ED%84%B0+%EB%A9%94%EC%9D%B8%EC%9D%B4%EB%AF%B8%EC%A7%80+(Medium).jpg');">
    <div class="background-image" style="background-color: rgba(0,0,0,.6);"></div>
    <div class="calHeight" heightRatio="0.3"></div>
    <div class="container color-white">
        <span class="text-title">
            고객센터
        </span>
        <br>
        <br>
        <span class="text-subtitle">
            DEVEOS에 대해 궁금한 점이 있으신가요?
        </span>
        <br>
        <br>
        <a id="btn_kakao_1" class="button button-highlight" href="https://goto.kakao.com/@eosdev" target="_blank">카카오톡으로 문의하기</a>
    </div>
    <div class="calHeight" heightRatio="0.3"></div>
</div>
<!-- <div class="section background-black-2 color-white">
    <div class="container v-padding-6">
        
    </div>
</div> -->
<%- include("footer") %>