<%- include("header") %>
<div class="section background-black align-center" style="margin-top: 60px;">
    <div class="calHeight" heightRatio="0.2"></div>
    <div class="container color-white">
        <span class="text-title">
            DEVEOS에 대해 궁금한 점이 있으신가요?
        </span>
        <br>
        <span class="text-subtitle">
            생생한 실무 정보를 현업 전문가들로부터 들어보세요!
        </span>
    </div>
    <div class="calHeight" heightRatio="0.2"></div>
</div>
<div class="section background-black-2 color-white">
    <div class="container v-padding-6">
        fdsafds
    </div>
</div>
<%- include("footer") %>