<%- include("header") %>

<div class="section background-gray color-black v-padding-9 align-center" style="margin-top: 60px;">
    <div class="container">

        <div class="partition partition-8">
            <div class="background-white color-black" style="display: inline-block; padding: 8px 16px; border-radius: 30px; display: none;">
                coming soon
            </div>
            <br>
            <br>
            <span class="text-subtitle">
                블록체인의 가능성을 보는
            </span>
            <br>
            <span class="text-title color-highlight">
                비즈니스를 위한 블록체인의 이해
            </span>
            <br>
            <br>
            <span class=" ">
                블록체인 비즈니스의 구상을 위한<br>
                블록체인의 기초 및 주요 개념 및 특징 정리
            </span>
            <br>
        </div>
        <div class="partition partition-4 align-right">
            <br>
            <br>
            <div class="align-center" style="display: inline-block;">
                <a href="#" class="button button-white">예약 신청하기</a><br>
                <!-- <span class="color-white">기념 30% 할인 진행 중!</span> -->
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
<div class="section background-black-2 align-center v-padding-9">
    <div class="container">
        <span class="text-title color-white">
            블록체인, 이제 제대로 접한다
        </span>
        <br>
        <br>
        <span class="text-subtitle color-white">
            아직도 책으로만, 쓰이지 않는 구세대 블록체인을 배우고 계셨나요?<br>
            이제 <span class="color-white">현업 전문가</span>에게 <span class="color-white">핵심적인 최신 내용</span>들을 배워보세요!
        </span>
    </div>
</div>
<div class="section background-white align-center v-padding-4">
    <div class="container">
        <span class="text-title color-black">블록체인에 대한 핵심을 배워보세요</span>
        <div class="v-padding-5 h-padding-5">
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="partition partition-8">
            <div class="partition partition-4 border-highlight foryou" style="border-radius: 50%;">
                <div class="square"></div>
                <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center h-padding-2">
                    <div>
                        <span class="text-subtitle color-black">
                            블록체인을<br>
                            효과적으로 입문
                        </span>
                    </div>
                </div>
            </div>
            <div class="partition partition-4 border-highlight foryou" style="border-radius: 50%;">
                <div class="square"></div>
                <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center h-padding-2">
                    <div>
                        <span class="text-subtitle color-black">
                            블록체인 비즈니스를 위한<br>
                            블록체인의 주요 특징 이해
                        </span>
                    </div>
                </div>
            </div>
            <div class="partition partition-4 border-highlight" style="border-radius: 50%;">
                <div class="square"></div>
                <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center h-padding-2">
                    <div>
                        <span class="text-subtitle color-black">
                            최신의 블록체인<br>
                            비즈니스의 동향 이해
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            </div>
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="section background-black-2 v-padding-4 color-white">
    <div class="container">
        <span class="text-title">상세 커리큘럼</span>
        <br>
        <br>
        <br>
        <br>
        <span class="text-subtitle">추후 공개됩니다</span>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="section background-white v-padding-4 color-black">
    <div class="container align-center">
        <span class="text-title">강사</span>
        <br>
        <br>
        <br>
        <br>
        <span class="text-subtitle">추후 공개됩니다</span>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="section background-black v-padding-4 color-white">
    <div class="container">
        <div class="partition partition-8">
            <span class="text-title">
                EOS 개발 기초
            </span>
            <br>
            <span class="text-subtitle">
                블록체인 비즈니스 구상을 위한 블록체인 기초 개념 정리
            </span>
            <br>
            <br>
            <br>
            일시 및 장소는 추후 공개됩니다.
            <br>
            <br>
            <span class="text-subtitle">강의에 대한 궁금한 것이 있으신가요?</span> &nbsp; <a href="/contact" class="button button-white button-small">자세히
                보기</a>
        </div>
        <div class="partition partition-4 align-right">
            예약 시 추후 개설 강좌<br>
            할인쿠폰 증정!<br>
            <br>
            <br>
            <a href="#" class="button button-white">예약 신청하기</a><br>
            <!-- <span class="text-subtitle color-gray">490,000원</span><br>
            <span class="text-title color-highlight">390,000원</span><br>
            <span class="color-white">(~10/31 까지)</span><br> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<%- include("footer") %>