<%- include("header") %>
<div class="section background-black" style="background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%88%98%EA%B0%95%EC%8B%A0%EC%B2%AD+%EB%A9%94%EC%9D%B8%EC%9D%B4%EB%AF%B8%EC%A7%80+(Medium).jpg');">
    <div class="background-image" style="background-color: rgba(0,0,0,.6); "></div>
    <div class="calHeight" heightRatio="0.2"></div>
    <div class="container align-center">
        <h1 class="text-title color-white">
            오직 당신만을 위한 커리큘럼,<br>DEVEOS가 준비했습니다
        </h1>
        <br>
        <br>
        <br>
        <h2 class="text-subtitle color-white">
            블록체인 기초부터 실전 Dapp 개발까지
            나에게 꼭 맞는 강의를 통해 블록체인 개발을 시작해보세요!
        </h2>
    </div>
    <div class="calHeight" heightRatio="0.2"></div>
</div>
<div class="section background-white v-padding-9">
    <div class="container align-center">
        <div class="partition partition-4 h-padding-2 v-padding-2">
            <div>
                <div class="program-circle"></div>
            </div>
            <span class="color-black text-subtitle" style="font-weight: 700;">
                수준별 강의
            </span>
            <br>
            <br>
            <span class="color-gray">
                현재 자신의 수준에 맞는<br>
                강의를 통해서 단계별 실력 향상
            </span>
        </div>
        <div class="partition partition-4 h-padding-2 v-padding-2">
            <div>
                <div class="program-circle"></div>
            </div>
            <span class="color-black text-subtitle" style="font-weight: 700;">
                체계화된 커리큘럼
            </span>
            <br>
            <br>
            <span class="color-gray">
                현업 전문가가 직접 작성한<br>
                가장 효과적인 블록체인 교육
            </span>
        </div>
        <div class="partition partition-4 h-padding-2 v-padding-2">
            <div>
                <div class="program-circle"></div>
            </div>
            <span class="color-black text-subtitle" style="font-weight: 700;">
                실전 예제 제공
            </span>
            <br>
            <br>
            <span class="color-gray">
                현업 실무에 바로 사용할 수 있는<br>
                DEVEOS만의 실전 예제 제공
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="section background-white v-padding-9">
    <div class="container align-center">
        <span class="text-title">
            당신을 위해 준비했습니다
        </span>
        <br>
        <div class="v-padding-9">
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="partition partition-8">
                <div class="partition partition-4 border-highlight foryou" style="border-radius: 50%; ">
                    <div class="square"></div>
                    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center h-padding-2">
                        <div>
                            <span class="text-subtitle color-black">
                                블록체인 개발을<br>
                                배워보고 싶은 분
                            </span>
                        </div>
                    </div>
                </div>
                <div class="partition partition-4 border-highlight foryou" style="border-radius: 50%; ">
                    <div class="square"></div>
                    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center h-padding-2">
                        <div>
                            <span class="text-subtitle color-black">
                                블록체인 관련 비즈니스를<br>
                                하고 있거나 준비하는 분
                            </span>
                        </div>
                    </div>
                </div>
                <div class="partition partition-4 border-highlight" style="border-radius: 50%; ">
                    <div class="square"></div>
                    <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center h-padding-2">
                        <div>
                            <span class="text-subtitle color-black">
                                현업 실무자들 간<br>
                                네트워킹을 원하는 분
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<div class="section background-gray v-padding-6">
    <div class="container align-center">
        <span class="text-title">
            진짜 전문가에게 배우는 EOS
        </span>
        <br>
        <br>
        <span class="text-subtitle color-gray">
            어렵고 심지어 쓰이지도 않는 개념들을 위해 더 이상 시간과 비용을 낭비할 필요가 없습니다.<br>
            이제 실전에서 사용되는 실무 위주의 개발을 업계 전문가에게 직접 배워보세요.
        </span>
    </div>
</div>
<div class="section background-white v-padding-9">
    <div class="container">
        <div class="partition partition-2 ">
            &nbsp;
        </div>
        <div class="partition partition-8">
            <div class="teacher v-padding-4 h-padding-4">
                <div class="teacher-picture"><img src="https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%A4%80%ED%96%89%EB%8B%98+(Medium).png"
                        alt=""></div>
                <div class="partition partition-5">
                    &nbsp;
                </div>
                <div class="partition partition-7 align-left">
                    <span class="teacher-name">Bryan Rhee</span>
                    <span class="teacher-profile">BBR Hackathon Mentor & Judge</span>
                    <span class="teacher-profile">Official Mentor @ EOS Hackathon 2 Sydney</span>
                    <span class="teacher-profile">CTO @ LangChain</span>
                    <span class="teacher-profile">SAP Labs Korea </span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="teacher v-padding-4 h-padding-4">
                <div class="teacher-picture"><img src="https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%84%A0%ED%98%B8%EB%8B%98+(Medium).png
                            "
                        alt=""></div>
                <div class="partition partition-5">
                    &nbsp;
                </div>
                <div class="partition partition-7 align-left">
                    <span class="teacher-name">Sunny Lee</span>
                    <span class="teacher-profile">BBR Hackathon Mentor</span>
                    <span class="teacher-profile">EOS Hackathon 3 London participate</span>
                    <span class="teacher-profile">Blockchain Engineer @ LangChain</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="partition partition-2 ">
            &nbsp;
        </div>
    </div>
</div>

<div class="section background-black-2 align-center v-padding-5">
    <div class="container">
        <div class="review-list color-white">
            <div class="review-item">
                <span style="margin-right: 1em;">오늘 강연이 너무 유용했다.</span>
                <span style="font-size: .6em;">010-97xx-x109</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">이런 강연이 자주 있었으면 좋겠다.</span>
                <span style="font-size: .6em;">010-54xx-x393</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">내용이 재미있고 유익했다.</span>
                <span style="font-size: .6em;">010-30xx-x411</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">실전 내용이 많아서 좋았다. 더 듣고 싶다.</span>
                <span style="font-size: .6em;">010-29xx-x124</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">늦은 시간이었는데 재미있었다.</span>
                <span style="font-size: .6em;">010-87xx-x774</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">친절한 QnA가 만족스러웠다.</span>
                <span style="font-size: .6em;">010-89xx-x122</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">좋은 선생님과 동료를 얻어서 좋았다.</span>
                <span style="font-size: .6em;">010-98xx-x457</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">EOS의 기본적인 지식과 방향을 잡았다.</span>
                <span style="font-size: .6em;">010-94xx-x800</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">EOS 개발을 제대로 하는 계기가 되었다.</span>
                <span style="font-size: .6em;">010-40xx-x447</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">입문자의 입장에서 도전적인 수강이었다.</span>
                <span style="font-size: .6em;">010-97xx-x109</span>
            </div>
        </div>
    </div>
</div>


<!-- <div class="section background-white v-padding-5">
    <div class="container align-center">
        <span class="text-title">
            현업 EOS 전문가
        </span>
        <br>
        <br>
        <span class="text-subtitle">
            DEVEOS의 모든 커리큘럼은<br>
            현업 실무 담당자들이 진행합니다
        </span>
        <br>
        <br>
        <br>
        <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%A4%80%ED%96%89%EB%8B%98+(Medium).png" alt="" style="width: 33.3333%;">
        <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%84%A0%ED%98%B8%EB%8B%98+(Medium).png" alt="" style="width: 33.3333%;">
    </div>
</div> -->
<div class="section background-white v-padding-2">
    <div class="container align-center">
        <div class="v-padding-9">
            <span class="text-title">
                커리큘럼 보기
            </span>
            <br>
            <br>
            <span class="text-subtitle color-gray">
                블록체인과 EOS, 기초 개념부터 실제 비즈니스까지!
            </span>
        </div>
        <br>
        <br>
        <div class="partition partition-3 h-padding-1">
            <div class="program h-padding-1 v-padding-1 color-black">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                    
                </div> -->
                <span class="text-title color-highlight">
                    3주 과정<br>
                </span>
                <br>
                <span class="text-subtitle text-bold">
                    비즈니스를 위한<br>
                    블록체인의 이해<br>
                </span>
                <br>
                <div class="title-bar"></div>
                <br>
                <span class="color-highlight h-padding-3" style="display: block;">
                    블록체인 비즈니스<br>
                    입문자를 위한<br>
                    블록체인의 기초 개념 및 사업적 특성 이해<br>
                </span>
                <br>
                <!-- <sub>
                    블록체인에<br>
                    관심 있는 누구나<br>
                </sub> -->
            </div>
            <br>
            <a id="btn_course_detail_1" class="button button-highlight" href="/course/1">자세히 보기</a>
        </div>
        <div class="partition partition-3 h-padding-1">
            <div class="program h-padding-1 v-padding-1 color-black">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                </div> -->
                <span class="text-title color-highlight">
                    4주 과정<br>
                </span>
                <br>
                <span class="text-subtitle text-bold">
                    EOS 블록체인<br>
                    개발 기초<br>
                </span>
                <br>
                <div class="title-bar"></div>
                <br>
                <span class="color-highlight h-padding-3" style="display: block;">
                    블록체인 개발을<br>
                    구체적 과정을 습득,<br>
                    예제와 실습을 통한<br>
                    EOS 개발 입문<br>
                </span>
                <br>
                <!-- <sub>
                    블록체인을 배우려는<br>
                    개발자 및 대학생<br>
                </sub> -->
            </div>
            <br>
            <a id="btn_course_detail_2" class="button button-highlight" href="/course/2">자세히 보기</a>
        </div>
        <div class="partition partition-3 h-padding-1">
            <div class="program h-padding-1 v-padding-1 color-black">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                </div> -->
                <span class="text-title color-highlight">
                    6주 과정<br>
                </span>
                <br>
                <span class="text-subtitle text-bold">
                    실전 EOS<br>
                    dAPP의 개발<br>
                </span>
                <br>
                <div class="title-bar"></div>
                <br>
                <span class="color-highlight h-padding-3" style="display: block;">
                    EOSIO를 활용한<br>
                    스마트 컨트랙트와<br>
                    실제 EOS Dapp<br>
                    개발 및 구현<br>
                </span>
                <br>
                <!-- <sub>
                    기초 지식이 있는<br>
                    개발 전공자<br>
                </sub> -->
            </div>
            <br>
            <a id="btn_course_detail_3" class="button button-highlight" href="/course/3">자세히 보기</a>
        </div>
        <div class="partition partition-3 h-padding-1">
            <div class="program h-padding-1 v-padding-1 color-black">
                <!-- <div style="width: 100%; height: 220px; position: relative; background-color: #ffffff;">
                </div> -->
                <span class="text-title color-highlight">
                    6주 과정<br>
                </span>
                <br>
                <span class="text-subtitle text-bold">
                    EOS Dapp<br>
                    현업 실무자 캠프<br>
                </span>
                <br>
                <div class="title-bar"></div>
                <br>
                <span class="color-highlight h-padding-3" style="display: block;">
                    dAPP을 개발 관련<br>
                    노하우를 습득하거나<br>
                    현직 개발자들과의<br>
                    개발 네트워킹<br>
                </span>
                <br>
                <!-- <sub>
                    기초적인 Dapp<br>
                    구현이 가능한 개발자<br>
                </sub> -->
            </div>
            <br>
            <a id="btn_course_detail_4" class="button button-highlight" href="/course/4">자세히 보기</a>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <div class="partition partition-12 v-padding-3">
            <span class="text-subtitle text-bold">
                커리큘럼에 대해 궁금하신 점이 있으신가요?
            </span>
            <a id="btn_contact_1" class="button button-highlight" href="/contact">문의하기</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<%- include("footer") %>