<%- include("header") %>
<div class="section v-padding-8 background-black" style="margin-top: 60px; background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%88%98%EA%B0%95%EC%8B%A0%EC%B2%AD+%EB%A9%94%EC%9D%B8%EC%9D%B4%EB%AF%B8%EC%A7%80+(Medium).jpg');">
    <div class="background-image" style="background-color: rgba(0,0,0,.6);"></div>
    <div class="calHeight" heightRatio="0.125"></div>
    <div class="container align-center color-white">
        <h1 class="text-title">
            단 3주만에 완성하는<br>
            EOSIO 개발 기초 입문자 과정
        </h1>
        <h2 class="text-subtitle">
            이것만은 끝내 놓고 블록체인 시작하자 </h2>
        <br>
        <a id="apply1" href="https://docs.google.com/forms/d/e/1FAIpQLSdiGYbEzQNltQy8LTTNQ4QhPwUMUnMGrVNzDtT9UFgkRKxieQ/viewform?usp=sf_link"
            target="_blank" class="button button-highlight" id="program_apply_2_1">수강
            신청하기</a>

    </div>
    <div class="calHeight" heightRatio="0.125"></div>
</div>
<div class="section v-padding-8 background-white">
    <div class="container">
        <div class="align-center v-padding-8">
            <span class="text-title">
                블록체인 개발 입문, 한 달이면 충분합니다
            </span>
        </div>
        <div class="v-padding-1 align-center">
            <div class="partition partition-4 align-center v-padding-3 h-padding-5">
                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%E1%84%92%E1%85%AD%E1%84%80%E1%85%AA%E1%84%8C%E1%85%A5%E1%86%A8%E1%84%8B%E1%85%B5%E1%86%AB_%E1%84%8F%E1%85%A5%E1%84%85%E1%85%B5%E1%84%8F%E1%85%B2%E1%86%AF%E1%84%85%E1%85%A5%E1%86%B7.png"
                    alt="" style="width: 100%; max-width: 100px;">
                <br><br>
                <span class="text-subtitle text-bold">
                    효과적인 커리큘럼으로<br>
                    블록체인 3주 입문
                </span>
            </div>
            <div class="partition partition-4 align-center v-padding-3 h-padding-5">
                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%E1%84%87%E1%85%B3%E1%86%AF%E1%84%85%E1%85%A9%E1%86%A8%E1%84%8E%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AB_%E1%84%80%E1%85%A2%E1%84%87%E1%85%A1%E1%86%AF_%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9%E1%84%86%E1%85%AE%E1%86%AB%E1%84%87%E1%85%A5%E1%86%B8_%E1%84%86%E1%85%B5%E1%86%BE.png"
                    alt="" style="width: 100%; max-width: 100px;">
                <br><br>
                <span class="text-subtitle text-bold">
                    블록체인 개발을 위한<br>
                    기초 문법 및 노하우
                </span>
            </div>
            <div class="partition partition-4 align-center v-padding-3 h-padding-5">
                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%E1%84%8E%E1%85%AC%E1%84%89%E1%85%B5%E1%86%AB_%E1%84%87%E1%85%B3%E1%86%AF%E1%84%85%E1%85%A9%E1%86%A8%E1%84%8E%E1%85%A6%E1%84%8B%E1%85%B5%E1%86%AB_EOSIO_%E1%84%80%E1%85%A2%E1%84%87%E1%85%A1%E1%86%AF_%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9%E1%84%8B%E1%85%B4.png"
                    alt="" style="width: 100%; max-width: 100px;">
                <br><br>
                <span class="text-subtitle text-bold">
                    최신 블록체인 및<br>
                    EOSIO 개발 기초의 이해
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="section background-white color-black">
    <div class="container align-center">
        <div class="v-padding-8">
            <span class="text-title">
                백엔드부터 스마트 컨트렉트까지 한 번에
            </span>
            <br>
            <span class="text-subtitle color-gray">
                다양한 실습 예제들을 개발해보며 블록체인을 위한 C++, Python을 마스터합니다
            </span>
        </div>

        <div class="v-padding-8 h-padding-3">
            <span class="text-subtitle">
                아직도 책으로만 쓰이지 않는 구세대 블록체인을 배우고 계셨나요? 블록체인 생태계는 현재 굉장히 빠른 속도로 발전하고 있어 책에 담지 못합니다. 제대로 된 로드맵이 없어서 혼자 하기엔
                뭐부터 해야할지 막막하죠. 이제 현업 전문가에게 핵심적인 최신 내용들을 배워보세요!<br>
                <br>
                코드를 읽는 방법부터 실전 프로그래밍까지, 단계마다 성취감을 직접 맛보며 블록체인 개발자로 입문할 수 있는 커리큘럼을 구성했습니다.<br>

            </span>
        </div>
    </div>
</div>
<div class="section background-highlight color-white v-padding-5">
    <div class="container">
        <div class="container v-padding-4 align-center">
            <span class="text-title">아래 중 하나라도 해당되시는 분들에게 "추천"합니다</span>
        </div>
        <div class="container v-padding-4 align-center">
            <div class="align-left" style="display: inline-block">
                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">나는 비전공자다.</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">블록체인을 시작하고 싶은데 개발 기초가 없다.</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">개발을 시작해보고 싶으나 뭐부터 해야될지 모르겠다.</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">스마트 컨트랙트라는 단어를 처음 들어본다.</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">블록체인, dApp, 스마트 컨트랙트가 뭔지 모른다.</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">한번도 Hello World! 찍어본적이 없다.</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">C++을 하나도 모른다</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">서버 개발 경험이 없다</span><br>
                <br>

                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                &nbsp;
                <span class="text-subtitle" style="vertical-align: middle;">백엔드, 서버, API가 뭔지 모른다</span><br>
                <br>


            </div>
        </div>
        <!-- <div class="partition partition-4">
            <div class="container v-padding-4 align-center">
                <span class="text-title">이런 분들에게 "추천"하지 않습니다</span>
            </div>
            <div class="container v-padding-4 align-center">
                <div class="align-left" style="display: inline-block">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                    &nbsp;
                    <span class="text-subtitle" style="vertical-align: middle;">C++을 할 수 있다.</span><br>
                    <br>

                    <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                    &nbsp;
                    <span class="text-subtitle" style="vertical-align: middle;">Python을 할 수 있다.</span><br>
                    <br>

                    <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                    &nbsp;
                    <span class="text-subtitle" style="vertical-align: middle;">혼자서 개발 가능하다.</span><br>
                    <br>

                    <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                    &nbsp;
                    <span class="text-subtitle" style="vertical-align: middle;">고급 프로그래밍을 해봤다.</span><br>
                    <br>

                    <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/apply/%EC%B2%B4%ED%81%AC.png" alt="" style="height: 1em; vertical-align: middle;">
                    &nbsp;
                    <span class="text-subtitle" style="vertical-align: middle;">서버 개발을 해봤다.</span><br>
                    <br>

                </div>
            </div>
        </div>
        <div class="clearfix"></div> -->
    </div>

</div>
<div class="section background-white color-black v-padding-8">
    <div class="container h-padding-3">
        <div class="v-padding-1" style="max-width: 640px;">
            <p>
                <span class="text-subtitle color-highlight text-bold">
                    1주차 [스마트 컨트랙트를 위한 eosio-cpp, C++]
                </span>
            </p>
            <p>
                <span class=" color-highlight">
                    C++ 기반의 EOSIO 스마트 컨트랙트를 작성하기 위해 반드시 필요한 C++의 핵심개념인 클래스와 함수를 배우고 스마트 컨트랙트의 큰 구조를 작성하는 방법과 컴파일하는 방법에
                    대해서 배웁니다.
                </span>
            </p>
            <br>
            <p>
                <span class="li">
                    개발환경 구축, eosio.cdt 1.4.1 설치
                </span><br>
                <span class="li">
                    dApp 서버 구조 이해
                </span><br>
                <span class="li">
                    헤더 파일과 이름공간
                </span><br>
                <span class="li">
                    클래스
                </span><br>
                <span class="li">
                    함수, 변수와 자료형
                </span><br>
                <span class="li">
                    컴파일
                </span><br>
            </p>
            <br>
            <p>
                **실습: eosio-cpp, Hello World!
            </p>
            <br>
            <hr>
            <br>
        </div>
        <div class="v-padding-1" style="max-width: 640px;">
            <p>
                <span class="text-subtitle color-highlight text-bold">
                    2주차 [스마트 컨트랙트를 위한 eosio-cpp, C++]
                </span>
            </p>
            <p>
                <span class=" color-highlight">
                    주소록 스마트 컨트랙트 실습을 통하여 스마트 컨트랙트 테이블 구조를 만드는 방법과 데이터를 추가/수정하는 코드를 작성하는 방법을 배웁니다.
                </span>
            </p>
            <br>
            <p>
                <span class="li">
                    구조체 설계 방법, 기본키, 멀티인덱스
                </span><br>
                <span class="li">
                    함수, 조건문, 람다함수
                </span><br>
                <span class="li">
                    반복자, 자동지정자
                </span><br>
            </p>
            <br>
            <p>
                ** 실습: 주소록 만들기
            </p>
            <br>
            <hr>
            <br>
        </div>
        <div class="v-padding-1" style="max-width: 640px;">
            <p>
                <span class="text-subtitle color-highlight text-bold">
                    3주차 [Python으로 API 활용하기]
                </span>
            </p>
            <p>
                <span class=" color-highlight">
                    최신 트렌드 언어인 Python로 서버를 만들고 외/내부 API를 활용하는 방법을 배웁니다. Flask라는 파이썬 서버 프레임워크를 사용할 예정이며, 서버의 구조, Restful
                    API 개념부터 나만의 API도 만들고 외부 API를 활용하는 방법, 요청과 응답을 하는 방법까지 배웁니다.
                </span>
            </p>
            <br>
            <p>
                <span class="li">
                    Restful API란?
                </span><br>
                <span class="li">
                    서버 개발환경 구축: Python, Flask 설치 및 가상환경 만들기
                </span><br>
                <span class="li">
                    Flask 프레임워크로 API 만들기
                </span><br>
                <span class="li">
                    Python의 request 패키지로 외부 API 활용하기
                </span><br>
            </p>
            <br>
            <p>
                ** 실습: Flask, Hello World! 외 다양한 실습 진행 예정
            </p>
            <br>
            <hr>
            <br>
        </div>
    </div>
</div>
<div class="section background-gray color-black" style="overflow: visible;">
    <div class="container v-padding-4" style="overflow: visible;">
        <div class="apply-teacher"><img src="https://s3.ap-northeast-2.amazonaws.com/deveos/%EC%84%A0%ED%98%B8%EB%8B%98+(Medium).png"
                alt=""></div>
        <br>
        <br>
        <br>
        <span class="text-subtitle text-bold">Sunny Lee</span>
        <span class="color-gray">전문가</span><br>
        <span class="color-gray">Blockchain Engineer at LangChain</span><br>
        <br>
        <br>
        <span class="color-gray"><span class="color-highlight">━&nbsp;&nbsp;</span>2018 ABF Blockchain Hackathon 공식
            개발
            멘토</span><br>
        <span class="color-gray"><span class="color-highlight">━&nbsp;&nbsp;</span>EOS Hackathon 3 London
            participate
        </span><br>
        <span class="color-gray"><span class="color-highlight">━&nbsp;&nbsp;</span>EOS dApp development
        </span><br>
        <span class="color-gray"><span class="color-highlight">━&nbsp;&nbsp;</span>청년사업사관학교 블록체인 강연
        </span><br>
    </div>
</div>
<div class="section background-black-2 color-white v-padding-6">
    <div class="container">
        <div class="partition partition-8 v-padding-3">
            <span class="text-subtitle">단 3주만에 완성하는</span><br>
            <span class="text-title">EOSIO 개발 기초 입문자 과정 </span><br>
            <br>
            <span class="text-subtitle">일정: 1월 15일 개강, 매주 화요일(1/15, 1/22, 1/29)</span><br>
            <span class="text-subtitle">시간: 회차당 각 3시간, 총 9시간 (19:00~22:00)</span><br>
            <span class="text-subtitle">장소: 2호선 합정역 인근(자세한 장소는 추후공지)</span><br>
        </div>
        <div class="partition partition-4 v-padding-3">
            <span class="text-subtitle">선착순 20% 할인 진행 중</span><br>
            <br>
            <span class="text-subtitle"><s>24,000원 / 시간</s></span><br>
            <span class="text-subtitle text-bold color-highlight" style="color: #4786ff">19,000원 / 시간</span><br>
            <span class="text-title color-highlight" style="color: #4786ff">171,000원 / 총 3회 9시간</span><br>
            <br>
            <a id="apply2" href="https://docs.google.com/forms/d/e/1FAIpQLSdiGYbEzQNltQy8LTTNQ4QhPwUMUnMGrVNzDtT9UFgkRKxieQ/viewform?usp=sf_link"
                target="_blank" class="button button-highlight" id="program_apply_2_2">수강
                신청하기</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="section background-white color-black v-padding-9">
    <div class="container align-center">
        <span class="text-title">강연에 대한 더 자세한 정보가 알고 싶으신가요?</span> <br>
        <br>
        <span class="text-subtitle color-gray">
            이 강좌 수준이 내게 맞을지 궁금하신가요?<br>
            궁금한 점이 있다면 언제든지 연락해주세요.<br>
            강좌 및 커리큘럼 관련 문의부터, 수강 상담까지 모두 답변해드립니다.<br>
        </span><br>
        <br>
        <a href="/contact" class="button button-highlight">문의하기</a>
    </div>
</div>
<%- include("footer") %>