<%- include("header") %>

<div class="section background-black align-left calHeight content-center" heightRatio="0.8" style="margin-top: 60px;">
    <div class="container">

        <div class="partition partition-8">
            <span class="text-subtitle color-white">
                성공적인 블록체인 개발 입문을 위한
            </span>
            <br>
            <span class="text-title color-highlight">
                EOS 개발 기초
            </span>
            <br>
            <span class="text-subtitle color-white">
                블록체인 기초부터 실전 dAPP 개발까지<br>
                나에게 꼭 맞는 강의를 통해 블록체인 개발을 시작해보세요
            </span>
            <br>

        </div>
        <div class="partition partition-4 align-right">
            <br>
            <br>
            <div class="align-center" style="display: inline-block;">
                <a href="#" class="button button-white">수강 신청하기</a><br>
                <span class="color-white">기념 30% 할인 진행 중!</span>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
<div class="section background-black-2 align-center v-padding-6">
    <div class="container">
        <span class="text-title color-white">
            <span class="color-highlight">블록체인</span>, 이제 제대로 배운다
        </span>
        <br>
        <br>
        <span class="text-subtitle color-white">
            아직도 책으로만, 쓰이지 않는 구세대 블록체인을 배우고 계셨나요?<br>
            이제 <span class="color-highlight">현업 전문가</span>에게 <span class="color-highlight">핵심적인 최신 내용</span>들을 배워보세요!
        </span>
    </div>
</div>
<div class="section background-white align-center v-padding-4">
    <div class="container">
        <span class="text-title color-black">그런 당신을 위해 준비했습니다</span>
        <div class="v-padding-5 h-padding-5">
            <!-- <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="partition partition-8"> -->
            <div class="partition partition-4 border-highlight foryou" style="border-radius: 50%;">
                <div class="square"></div>
                <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center">
                    <div>
                        <span class="text-subtitle color-black">
                            <span class="color-highlight">블록체인 개발</span>을 <br>
                            배워보고 싶은 분
                        </span>
                    </div>
                </div>
            </div>
            <div class="partition partition-4 border-highlight foryou" style="border-radius: 50%;">
                <div class="square"></div>
                <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center">
                    <div>
                        <span class="text-subtitle color-black">
                            <span class="color-highlight">블록체인 관련 비즈니스</span>를<br>
                            하고 있거나 준비하는 분
                        </span>
                    </div>
                </div>
            </div>
            <div class="partition partition-4 border-highlight" style="border-radius: 50%;">
                <div class="square"></div>
                <div style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;" class="content-center">
                    <div>
                        <span class="text-subtitle color-black">
                            <span class="color-highlight">현업 실무자들 간 <br>
                                네트워킹</span>을 원하는 분
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- </div>
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="clearfix"></div> -->
        </div>
    </div>
</div>
<div class="section background-black-2 v-padding-4 color-white">
    <div class="container">
        <span class="text-title">4주완성 커리큘럼</span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="section background-white v-padding-4 color-black">
    <div class="container align-right">
        <span class="text-title">Dev Master</span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="section background-black-2 v-padding-4 color-white">
    <div class="container">
        <div class="partition partition-8">
            <span class="text-title">
                EOS 개발 기초
            </span>
            <br>
            <span class="text-subtitle">
                성공적인 블록체인 개발 입문, 지금 가능합니다
            </span>
            <br>
            <br>
        </div>
        <div class="partition partition-4">

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<%- include("footer") %>