<%- include("header") %>

<div class="section background-black align-left">
    <div class="container">

        <div class="partition partition-8">

        </div>
        <div class="partition partition-4">
        </div>
        <div class="clearfix">
            
        </div>

        <h1 class="text-title color-white">
            <span class="color-highlight">진짜 전문가</span>에게 배우는 블록체인 개발<br>오직 <span class="color-highlight">DEVEOS</span>에서만
            가능합니다
        </h1>
        <a href="#" class="button button-white">무료 수업 듣기</a>
    </div>
</div>
<%- include("footer") %>