<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/deveos.css">
	<title>deveos</title>



	<meta name="title" content="LangChain">
	<meta name="description" content="Redesign the translation ecosystem.">
	<meta name="thumbnail" content="https://s3-ap-northeast-1.amazonaws.com/langchain/landing/langchain_thumbnail.png">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@langchain">
	<meta name="twitter:creator" content="LangChain">
	<meta name="twitter:image" content="https://s3-ap-northeast-1.amazonaws.com/langchain/landing/langchain_thumbnail.png">
	<meta name="twitter:title" content="LangChain">
	<meta name="twitter:description" content="Redesign the translation ecosystem.">

	<meta property="og:title" content="LangChain" />
	<meta property="og:site_name" content="LangChain" />
	<meta property="og:type" content="page" />
	<meta property="og:url" content="https://langchain.io" />
	<meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/langchain/landing/langchain_thumbnail.png" />
	<meta property="og:description" content="Redesign the translation ecosystem." />


	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script> -->
	<script src="/js/common.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
	 crossorigin="anonymous">

</head>

<body>
    <div class="header">
        
    </div>