<%- include("header") %>
<div class="section background-black calHeight content-center align-left" heightRatio="0.8">
    <div class="container">
        <h1 class="text-title color-white">
            <span class="color-highlight">진짜 전문가</span>에게 배우는 블록체인 개발<br>오직 <span class="color-highlight">DEVEOS</span>에서만
            가능합니다
        </h1>
        <a href="#" class="button button-white">무료 수업 듣기</a>
    </div>
</div>
<div class="section background-black-2 align-center v-padding-3">
    <div class="container">
        <h2 class="text-title color-white">
            실전 블록체인 개발, 이렇게나 쉬웠습니다
        </h2>
        <h3 class="text-subtitle color-lightgray">
            <span class="color-highlight">실전 위주</span>의 응용 개발 프로그램으로<br>
            누구나 <span class="color-highlight">쉽게 배울 수 있는 블록체인 교육</span>을 제공합니다.
        </h3>
        <br>
        <br>
        <div class="partition partition-4">
            <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/section-2-1.png" alt="" style="width: 80%; max-width: 320px;">
        </div>
        <div class="partition partition-4">
            <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/section-2-2.png" alt="" style="width: 80%; max-width: 320px;">
        </div>
        <div class="partition partition-4">
            <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/section-2-3.png" alt="" style="width: 80%; max-width: 320px;">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="section background-white color-black align-center v-padding-5">
    <div class="container">
        <h2 class="text-title color-black">
            진짜 전문가에게 직접 배우는 EOS
        </h2>
        <h3 class="text-subtitle color-gray">
            어렵고 심지어 쓰이지도 않는 개념들을 위해 더 이상 시간과 비용을 낭비할 필요가 없습니다. <br>
            이제 실전에서 사용되는 실무 위주의 개발을 현직 전문가에게 직접 배워보세요.
        </h3>
        <br>
        <br>
        <br>

        <h2 class="text-title color-black">
            강사 소개
        </h2>
        <div class="border-highlight">
            <div class="teacher v-padding-4 h-padding-4">
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
            </div>
            <div class="teacher v-padding-4 h-padding-4">
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>
                fdsafdsafdsa<br>

            </div>
        </div>
    </div>
</div>


<div class="section background-black-2 align-center v-padding-5">
    <div class="container">
        <div class="review-list color-white">
            <div class="review-item">
                1111111111111111111111111111
            </div>
            <div class="review-item">
                2222222222222222222222222
            </div>
            <div class="review-item">
                33333333333333
            </div>
            <div class="review-item">
                44444444444444다4
            </div>
            <div class="review-item">
                45555555555555555555555EOS 개발자 행사 정말 좋았습니다5
            </div>
            <div class="review-item">
                66666666666666666666666 </div>
            <div class="review-item">
                7777777777777777777777777
            </div>
            <div class="review-item">
                88888888888888888
            </div>
            <div class="review-item">
                9999999999999999999
            </div>
            <div class="review-item">
                EOS 개발자 행사 정말 좋았습니다0
            </div>
        </div>
    </div>
</div>
<%- include("footer") %>