<%- include("header") %>
<div class="section background-black color-white align-left"
    style="overflow: hidden; background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/main/henri-l-547224-unsplash+(Large).jpg');">
    <div class="v-padding-5"></div>
    <div class="calHeight" heightRatio="0.075"></div>
    <div class="container align-left">
        <span class="text-big">
            <span style="font-weight: 400;">블록체인 전문 개발자 양성</span><br>
            devEOS는 여러분과 함께 합니다
        </span>
        <br>
        <br>
        <br>
        <span class="text-subtitle">· 오랜 경력의 실무 전문가가 직접 강의합니다.</span><br>
        <span class="text-subtitle">· 95% 이상의 강의 참여 만족도로 보답합니다.</span><br>
    </div>
    <div class="calHeight" heightRatio="0.3"></div>
    <div class="v-padding-5"></div>
</div>
<div class="section align-left v-padding-9">
    <div class="container">
        <div>
            <div class="partition partition-1">
                &nbsp;
            </div>
            <div class="partition partition-10">
                <h2 class="text-title color-black">
                    <span style="font-weight: 400;">블록체인 강좌</span><br>
                    왜 devEOS일까요?
                </h2>
                <div>
                    <div class="partition partition-6">
                        <h3 class="text-subtitle color-gray pb">
                            <li>devEOS는 국내 유일의 실무 블록체인 전문 교육 과정입니다.</li>
                            <li>실제 현업에서 사용되는 블록체인 개발 내용을 풍부한 실습 예제와 응용 커리큘럼을 통해 직접 경험해보세요.</li>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="partition partition-1">
                &nbsp;
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="v-padding-5 desktopOnly">
            &nbsp;
        </div>
        <div class="align-center" style="float: left; width: 33%;">
            <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/main/%ED%98%84%EC%A7%81+%EC%A0%84%EB%AC%B8%EA%B0%80+%EC%8B%A4%EB%AC%B4.png"
                alt="" style="width: 60%; max-width: 100px;">
            <br><br>
            <span class="text-subtitle text-bold">
                현직 전문가 실무
            </span>
            <br>
            <br>
            <div class="desktopOnly h-padding-5">
                <div class="desktopOnly h-padding-5">
                    <span class="color-gray pb">devEOS는 전원이 현업 블록체인 종사자들입니다. 즉, 풍부한 실무 경험들로만 구성되어 있다는 것이죠.</span>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="align-center" style="float: left; width: 33%;">
            <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/main/%ED%92%8D%EB%B6%80%ED%95%9C+%EC%98%88%EC%A0%9C.png"
                alt="" style="width: 60%; max-width: 100px;">
            <br><br>
            <span class="text-subtitle text-bold">
                실습 응용 예제 제공
            </span>
            <br>
            <br>
            <div class="desktopOnly h-padding-5">
                <div class="desktopOnly h-padding-5">
                    <span class="color-gray pb">필수 개념 뿐 아니라, 바로 활용 가능한 풍부한 실습 응용 예제들로 직접 만들어보세요.</span>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="align-center" style="float: left; width: 33%;">
            <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/main/%EC%8B%A4%EC%8B%9C%EA%B0%84+%EA%B0%9C%EB%B0%9C%EC%83%81%EB%8B%B4.png"
                alt="" style="width: 60%; max-width: 100px;">
            <br><br>
            <span class="text-subtitle text-bold">
                실시간 개발 상담
            </span>
            <br>
            <br>
            <div class="desktopOnly h-padding-5">
                <div class="desktopOnly h-padding-5">
                    <span class="color-gray pb">전문가들과의 지속적인 커뮤니케이션을 통해 언제라도 필요한 내용을 직접 상담해보세요.</span>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="clearfix"></div>
        <div class="desktopOnly">
            <br>
            <br>
        </div>
    </div>
</div>
<div class="section background-white color-black">
    <div class="background-image"
        style="background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/main/IMG_1896+(Large).jpg'); width: 101%; height: 101%;">
    </div>
    <div class="section">
        <div class="background-image" style="background-color: #ffffff; height: 80%; top: 0;"></div>
        <div class="container align-center color-black">
            <div class="background-black-2 color-white v-padding-2 h-padding-2" style="display: inline-block;">
                <span class="text-title">
                    진짜 전문가에게 직접 배우는 블록체인
                </span>
                <br>
                <br>
                <span class="text-subtitle pb">
                    어렵고 심지어 쓰이지도 않는 개념들을 위해 더 이상 시간과 비용을 낭비할 필요가 없습니다. <br>
                    이제 실전에서 사용되는 실무 위주의 개발을 업계 전문가에게 직접 배워보세요.
                </span>
            </div>
        </div>
    </div>
    <div class="v-padding-6">
        &nbsp;
    </div>
    <div class="v-padding-6">
        &nbsp;
    </div>
</div>

<div class="section background-black-2 align-center v-padding-5">
    <div class="container">
        <span class="text-title color-white decorate-bottom">
            압도적 수강생 만족도, 직접 확인해보세요
        </span><br>
        <br>
        <br>
        <div class="review-list color-white">

            <div class="review-item">
                <span style="margin-right: 1em;">오늘 강연이 너무 유용했다.</span>
                <span style="font-size: .6em;">010-97xx-x109</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">이런 강연이 자주 있었으면 좋겠다.</span>
                <span style="font-size: .6em;">010-54xx-x393</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">내용이 재미있고 유익했다.</span>
                <span style="font-size: .6em;">010-30xx-x411</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">실전 내용이 많아서 좋았다. 더 듣고 싶다.</span>
                <span style="font-size: .6em;">010-29xx-x124</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">늦은 시간이었는데 재미있었다.</span>
                <span style="font-size: .6em;">010-87xx-x774</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">친절한 QnA가 만족스러웠다.</span>
                <span style="font-size: .6em;">010-89xx-x122</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">좋은 선생님과 동료를 얻어서 좋았다.</span>
                <span style="font-size: .6em;">010-98xx-x457</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">EOS의 기본적인 지식과 방향을 잡았다.</span>
                <span style="font-size: .6em;">010-94xx-x800</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">EOS 개발을 제대로 하는 계기가 되었다.</span>
                <span style="font-size: .6em;">010-40xx-x447</span>
            </div>
            <div class="review-item">
                <span style="margin-right: 1em;">입문자의 입장에서 도전적인 수강이었다.</span>
                <span style="font-size: .6em;">010-97xx-x109</span>
            </div>
        </div>
        <br>
        <br>
        <!-- <a id="btn_application_2" href="/apply" class="button button-highlight">수강 신청하기</a> -->

    </div>
</div>
<div class="section background-white color-black">
    <div class="container v-padding-6">
        <div>
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="partition partition-8">
                <span class="text-title"><span style="font-weight: 400;">블록체인,</span><br> 왜 eosio로 시작해야 할까요?</span><br>
                <br>
                <li>빠른 처리속도와 합리적인 합의 구조가 가능합니다.</li>
                <li>현존하는 블록체인 플랫폼 중 dAPP을 개발하기에 가장 현실적입니다.</li>
                <br>
                <img src="https://s3.ap-northeast-2.amazonaws.com/deveos/main/eosio+%E1%84%83%E1%85%A5+%E1%84%8B%E1%85%A1%E1%86%AF%E1%84%8B%E1%85%A1%E1%84%87%E1%85%A9%E1%84%80%E1%85%B5.png"
                    style="width: 100%;" alt="">
            </div>
            <div class="partition partition-2">
                &nbsp;
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="align-center">
            <a href="https://eos.io" target="_blank" class="button button-highlight">eosio 더 알아보기</a>
        </div>
    </div>
</div>
<div class="section background-black-2 color-white">
    <div class="background-image"
        style="background-image: url('https://s3.ap-northeast-2.amazonaws.com/deveos/main/IMG_1872+(Large).jpg');">
    </div>
    <div class="container">
        <div class="v-padding-9 align-left">
            <span class="text-title">현업 전문가가 직접 가르치는 블록체인 강좌 지금 바로 만나보세요 </span><br>
            <br>
            <br>
            <a id="btn_application_3" href="/apply" class="button button-highlight">강좌 확인하기</a>
        </div>

    </div>
</div>


<%- include("footer") %>