<%- include("header") %>
<div class="section background-black calHeight content-center" heightRatio="0.8">
    <div class="container align-left">
        <h1 class="text-title color-white">
            DEVEOS OPEN CLASS
        </h1>
        <h2 class="text-subtitle color-white">
            DEVEOS가 준비한 블록체인 입문 오픈클래스를 무료로 만나보세요!
        </h2>
    </div>
</div>
<div class="section background-white v-padding-4">
    <div class="container align-center">
        <span class="text-title">
            EOS 개발 입문
        </span>
        <br>
        <span class="text-subtitle">
            Bryan Master
        </span>
        <br>
        <br>
        <br>
    </div>
    <div class="v-padding-6"></div>
    <div class="background-highlight color-white align-center v-padding-1">
        <div class="container">
            <div>
                <div class="partition partition-4 h-padding-1 v-padding-1 align-center" style="transform: translateY(-50%);">
                    <div class="background-white v-padding-1 h-padding-1" style="background-color: #f0f0f0;">
                        <br> <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <br>
                    <span class="text-subtitle">fdsuifsdkjsdfisdf</span>
                </div>
                <div class="partition partition-4 h-padding-1 v-padding-1 align-center" style="transform: translateY(-50%);">
                    <div class="background-white v-padding-1 h-padding-1" style="background-color: #f0f0f0;">
                        <br> <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <br>
                    <span class="text-subtitle">fdsuifsdkjsdfisdf</span>
                </div>
                <div class="partition partition-4 h-padding-1 v-padding-1 align-center" style="transform: translateY(-50%);">
                    <div class="background-white v-padding-1 h-padding-1" style="background-color: #f0f0f0;">
                        <br> <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <br>
                    <span class="text-subtitle">fdsuifsdkjsdfisdf</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <span class="text-subtitle">
                OPEN Class는 지속적으로 업데이트됩니다.
            </span>
            <br>
            <span class="text-title">
                블록체인 개발 강좌를 먼저 만나보고 싶다면?
            </span>
            <br>
            <br>
            <a href="#" class="button button-white">
                수강신청 하기
            </a>
            <div class="v-padding-2"></div>
        </div>
    </div>
</div>

<%- include("footer") %>