@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@media screen {
    * {
        margin: 0px;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-break: keep-all;
        word-wrap: break-word;
    }
    * {
        font-family: 'Spoqa Han Sans', 'Sans-serif';
    }
    dd, a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: 0 0;
    }
    dd {
        margin: unset;
        margin-left: 40px;
    }
    img {
        border: none;
    }
    textarea {
        resize: none;
    }
    html {
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    /* body * {
      overflow: hidden;
  } */
    body {
        margin: 0px;
        /* padding: 60px 0 0 0; */
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        font-size: 16px;
        overflow-x: hidden;
        background-color: #ffffff;
    }
    .header {
        width: 100%;
        height: 64px;
        position: fixed;
        background-color: #21232a;
        left: 0;
        top: 0;
        z-index: 300;
        line-height: 64px;
        overflow: hidden;
    }
    .header .container {
        height: 100%;
        max-width: 1920px;
    }
    .header .header-left {
        width: auto;
        height: 100%;
        position: relative;
        float: left;
        z-index: 100;
    }
    .header .header-right {
        width: auto;
        height: 100%;
        position: relative;
        float: right;
        z-index: 200;
    }
    .header .header-menu {
        width: auto;
        position: relative;
        height: 100%;
    }
    .header .header-menu a {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 0 20px;
        color: #ffffff;
        text-decoration: none;
        box-sizing: border-box;
    }
    .header .header-more {
        width: 64px;
        height: 64px;
        line-height: 64px;
        position: fixed;
        right: 0;
        top: 0;
        font-size: 2em;
        color: #ffffff;
        text-align: center;
        z-index: 5000;
    }
    .header .header-menu a.highlight::after {
        content: '';
        position: absolute;
        left: 5%;
        top: 50%;
        width: 90%;
        height: 50%;
        border: 1px solid #ffffff;
        border-radius: 24px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .header .header-menu a.selected, .header .header-menu a:hover, .header .header-menu a.selected::after, .header .header-menu a:hover::after {
        /* color: #263995;
        border-color: #263995; */
        text-decoration: underline;
        font-weight: 700;
    }
    .logo {
        width: 256px;
        height: auto;
        position: relative;
        display: inline-block;
        background-size: auto 100%;
        background-position: 4px 50%;
        background-repeat: no-repeat;
        background-image: url("https://s3.ap-northeast-2.amazonaws.com/deveos/DEVEOS+LOGO+(Medium).png");
    }
    .logo.small {
        height: 48px;
    }
    .logo.medium {
        height: 64px;
    }
    .logo.large {
        height: 96px;
    }
    .logo img {
        height: 100%;
        width: auto;
    }
    .section {
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .content-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .background-fixed {
        background-attachment: fixed;
    }
    .background-black {
        background-color: #292929;
    }
    .background-black-2 {
        background-color: #21232a;
    }
    .background-gray {
        background-color: #e3e3e3;
    }
    .background-yellow {
        background-color: #f9c00c;
    }
    .background-white {
        background-color: #ffffff;
    }
    .background-highlight {
        background-color: #263995;
    }
    .background-video, .background-image {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-size: cover;
        background-position: 50% 50%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .background-video video {
        /* width: 100%;
        height: 100%; */
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .foryou::after {
        content: '';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        width: 48px;
        height: 48px;
        position: absolute;
        background-color: #263995;
        border-radius: 50%;
        top: 50%;
        right: -27px;
        transform: translate(0%, -50%);
        color: #ffffff;
        z-index: 10;
        line-height: 48px;
    }
    .container {
        width: 94%;
        height: auto;
        position: relative;
        max-width: 1277px;
        margin: 0 auto;
    }
    .main-circle {
        width: 3em;
        height: 3em;
        border: .3em solid #263995;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: .4em;
    }
    .program-circle {
        width: 3em;
        height: 3em;
        border: .3em solid #263995;
        border-radius: 50%;
        background-color: #263995;
        display: inline-block;
        margin-bottom: .4em;
    }
    .program-header {
        width: 100%;
        height: auto;
        position: relative;
        /* border: 1px solid #263995; */
        -webkit-user-select: none;
        -moz-user-select: -moz-none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .program-header .program-header-item {
        width: 25%;
        height: auto;
        position: relative;
        float: left;
        padding: 1em 0;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        border-bottom-color: #263995;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        line-height: 1em;
    }
    .program-header .program-header-item span {
        text-decoration: underline;
    }
    .program-header .program-header-item sup {
        text-decoration: none;
        color: #f9c00c;
    }
    .program-header .program-header-item.show {
        /* background-color: #263995; */
        /* color: #ffffff; */
        border: 1px solid #263995;
        border-bottom-color: transparent;
        font-weight: 700;
        background-color: #ffffff;
    }
    .program-list {
        width: 100%;
        height: auto;
        position: relative;
        border: 1px solid #263995;
        border-top: none;
        background-color: #ffffff;
    }
    .program-list .slick-arrow {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 0;
        color: transparent;
        z-index: 100;
    }
    .program-list .slick-arrow::after {
        content: '>';
        color: #545454;
        font-size: 36px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .program-list .slick-arrow.slick-prev {
        left: 0;
    }
    .program-list .slick-arrow.slick-prev::after {
        content: '<';
    }
    .program-list .slick-arrow.slick-next {
        right: 0;
    }
    .program-list .slick-arrow.slick-next::after {
        content: '>';
    }
    .program {
        width: 100%;
        height: auto;
        position: relative;
        /* border: 1px solid #263995; */
        /* box-shadow: 0 4px 8px 0 #9b9b9b; */
        background-color: #ffffff;
        padding: 1em 0;
    }
    .title-bar {
        width: 100%;
        height: 5px;
        display: block;
        position: relative;
        margin-bottom: 2em;
    }
    .title-bar::after {
        width: 30%;
        max-width: 170px;
        height: 100%;
        background-color: #263995;
        display: inline-block;
        content: '';
        /* position: absolute;
        left: 0;
        top: 0; */
    }
    .program .title-bar::after {
        width: 80%;
        /* max-width: 170px; */
        height: 2px;
        background-color: #263995;
        display: inline-block;
        content: '';
        /* position: absolute;
        left: 0;
        top: 0; */
    }
    .apply-teacher {
        width: 50%;
        max-width: 512px;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0;
        overflow: visible;
    }
    .apply-teacher img {
        width: 100%;
        height: auto;
        -webkit-filter: drop-shadow(5px 5px 5px #aaa);
        filter: drop-shadow(5px 5px 5px #aaa);
    }
    .li {
        width: 100%;
        height: auto;
        position: relative;
        padding-left: 36px;
    }
    .li::before {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        left: 14px;
        top: 8px;
        border-radius: 50%;
        background-color: #263995;
    }
    .qna-list {
        width: 80%;
        height: auto;
        position: relative;
        padding: 12px 0;
    }
    .qna-list .qna-item {
        width: 100%;
        height: auto;
        position: relative;
        padding: 6px 0;
        margin-bottom: .4em;
    }
    .qna-list .qna-item .qna-question {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0 0 0 36px;
        margin-bottom: .4em;
    }
    .qna-list .qna-item .qna-question span {
        font-weight: 700;
    }
    .qna-list .qna-item .qna-question::before {
        content: '';
        left: 8px;
        top: 8px;
        position: absolute;
        width: .8em;
        height: .8em;
        display: inline-block;
        border-radius: 50%;
        background-color: #4a90e2;
    }
    .qna-list .qna-item .qna-answer {
        width: 100%;
        height: auto;
        position: relative;
        padding: 0 0 0 36px;
    }
    .qna-list .qna-item .qna-answer::before {
        /* content: ''; */
        left: 8px;
        top: 8px;
        position: absolute;
        width: .8em;
        height: .8em;
        display: inline-block;
        border-radius: 50%;
        background-color: #263995;
    }
    .openclass-list {
        width: 100%;
        height: auto;
        position: relative;
    }
    .openclass-list .openclass-item {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 1em;
        cursor: pointer;
        -webkit-transition: all .125s ease-in-out;
        -moz-transition: all .125s ease-in-out;
        -o-transition: all .125s ease-in-out;
        transition: all .125s ease-in-out;
        padding: 5px;
        background-color: #fafafa;
    }
    .openclass-list .openclass-item:hover {
        box-shadow: 0 4px 8px 0 #9b9b9b;
    }
    .openclass-list .openclass-item .openclass-item-thumbnail {
        width: 100%;
        height: auto;
        position: relative;
    }
    .openclass-list .openclass-item .openclass-item-video {
        width: 0%;
        height: auto;
        position: relative;
        max-height: 0px;
        -webkit-transition: all .125s ease-in-out;
        -moz-transition: all .125s ease-in-out;
        -o-transition: all .125s ease-in-out;
        transition: all .125s ease-in-out;
        overflow: hidden;
    }
    .openclass-list .openclass-item .openclass-item-video iframe {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .openclass-list .openclass-item.show .openclass-item-video {
        max-height: 100%;
        width: 100%;
    }
    .openclass-list .openclass-item.show .openclass-item-video iframe {
        display: block;
    }
    .text-big {
        font-size: 3em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.9px;
        margin-bottom: .5em;
    }
    .text-title {
        font-size: 2em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.9px;
        margin-bottom: .5em;
    }
    .text-subtitle {
        font-size: 1.25em;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.7px;
    }
    .text-bold {
        font-weight: 700;
    }
    .button {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 18px 30px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 2.5em;
        text-decoration: none;
        font-size: 1.2em;
        color: #21232a;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        margin-right: .2em;
        margin-bottom: .2em;
        cursor: pointer;
        user-select: none;
    }
    .button.button-small {
        padding: 9px 15px;
        font-size: 1em;
    }
    .button-white {
        background-color: #ffffff;
        color: #21232a;
        border-color: #ffffff;
    }
    .button-highlight {
        background-color: #263995;
        color: #ffffff;
        border-color: #263995;
    }
    .button-glass {
        background-color: transparent;
        color: #263995;
        border-color: #263995;
    }
    .button-glass:hover {
        background-color: #263995;
        color: #ffffff;
    }
    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .align-justify {
        text-align: justify;
    }
    .color-blue, .color-blue::before, .color-blue::after {
        color: #111a44;
    }
    .color-black, .color-black::before, .color-black::after {
        color: #000000;
    }
    .color-white, .color-white::before, .color-white::after {
        color: #ffffff;
    }
    .color-lightgray, .color-lightgray::before, .color-lightgray::after {
        color: #c8c8c8;
    }
    .color-gray, .color-gray::before, .color-gray::after {
        color: #797979;
    }
    .color-yellow, .color-yellow::before, .color-yellow::after {
        color: #f9c00c;
    }
    .color-red, .color-red::before, .color-red::after {
        color: #E21C21;
    }
    .color-highlight, .color-highlight::before, .color-highlight::after {
        color: #263995;
    }
    .border-highlight {
        border: 3px solid #263995;
    }
    .display-inline-block {
        display: inline-block;
    }
    .calHeight {
        height: 100%;
    }
    .vertical-top {
        vertical-align: top;
    }
    .vertical-top>* {
        vertical-align: top;
    }
    .vertical-middle {
        vertical-align: middle;
    }
    .vertical-middle>* {
        vertical-align: middle;
    }
    .vertical-bottom {
        vertical-align: bottom;
    }
    .vertical-bottom>* {
        vertical-align: bottom;
    }
    .v-padding-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .v-padding-1 {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
    .v-padding-2 {
        padding-top: 1.5em !important;
        padding-bottom: 1.5em !important;
    }
    .v-padding-3 {
        padding-top: 2em !important;
        padding-bottom: 2em !important;
    }
    .v-padding-4 {
        padding-top: 2.5em !important;
        padding-bottom: 2.5em !important;
    }
    .v-padding-5 {
        padding-top: 3em !important;
        padding-bottom: 3em !important;
    }
    .v-padding-6 {
        padding-top: 3.5em !important;
        padding-bottom: 3.5em !important;
    }
    .v-padding-7 {
        padding-top: 4em !important;
        padding-bottom: 4em !important;
    }
    .v-padding-8 {
        padding-top: 4.5em !important;
        padding-bottom: 4.5em !important;
    }
    .v-padding-9 {
        padding-top: 5em !important;
        padding-bottom: 5em !important;
    }
    .v-padding-9 {
        padding-top: 5.5em !important;
        padding-bottom: 5.5em !important;
    }
    .h-padding-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .h-padding-1 {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .h-padding-2 {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
    .h-padding-3 {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    .h-padding-4 {
        padding-left: 2.5em !important;
        padding-right: 2.5em !important;
    }
    .h-padding-5 {
        padding-left: 3em !important;
        padding-right: 3em !important;
    }
    .teacher {
        position: relative;
        border-bottom: 2px solid #292929;
    }
    /* .teacher:last-child {
        border-bottom: none;
    }
    .teacher::before {
        content: '';
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: -5%;
        right: -5%;
        background-color: #ffffff;
    }
    .teacher::after {
        content: '';
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: -5%;
        left: -5%;
        background-color: #ffffff;
    } */
    .teacher .teacher-name {
        width: 100%;
        height: auto;
        display: block;
        font-size: 2.25em;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.7px;
        color: #545454;
        margin-bottom: 30px;
        margin-top: 120px;
    }
    .teacher .teacher-profile {
        width: 100%;
        height: auto;
        display: block;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #797979;
    }
    .teacher .teacher-picture {
        width: 40%;
        height: auto;
        display: inline-block;
        position: absolute;
        bottom: -5px;
    }
    .teacher:nth-child(2n-1) .teacher-picture {
        left: 0;
    }
    .teacher:nth-child(2n) .teacher-picture {
        /* right: 0; */
        left: 0;
    }
    .teacher .teacher-picture img {
        width: 100%;
    }
    .step-text {
        width: auto;
        height: auto;
        position: relative;
        vertical-align: middle;
        /* padding: 10px; */
        display: inline-block;
        /* background-color: #21232a; */
        color: #21232a;
        font-size: 1.2em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        margin-right: 15px;
        margin-bottom: 4px;
    }
    .step-bar {
        width: 32px;
        height: 4px;
        background-color: #9b9b9b;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 4px;
    }
    .review-list {
        width: 100%;
        height: 280px;
        position: relative;
        overflow: hidden;
    }
    .review-list .review-item {
        width: 100%;
        height: 40px;
        position: absolute;
        left: 0;
        display: none;
        line-height: 40px;
        font-size: 1em;
        transition: all .4s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .review-list .review-item:nth-child(1) {
        display: block;
        top: -14.286%;
        /* font-size: .6em; */
        opacity: 0;
    }
    .review-list .review-item:nth-child(2) {
        display: block;
        top: 0%;
        /* font-size: 1em; */
        opacity: 0.2;
    }
    .review-list .review-item:nth-child(3) {
        display: block;
        top: 14.286%;
        /* font-size: 1.4em; */
        opacity: 0.4;
    }
    .review-list .review-item:nth-child(4) {
        display: block;
        top: 28.57142857142857%;
        /* font-size: 1.8em; */
        opacity: 0.6;
    }
    .review-list .review-item:nth-child(5) {
        display: block;
        top: 42.85714285714286%;
        font-size: 1.5em;
        opacity: 1;
        text-shadow: 0px 4px 20px #797979;
    }
    .review-list .review-item:nth-child(6) {
        display: block;
        top: 57.14285714285714%;
        /* font-size: 1.8em; */
        opacity: 0.6;
    }
    .review-list .review-item:nth-child(7) {
        display: block;
        top: 71.42857142857143%;
        /* font-size: 1.4em; */
        opacity: 0.4;
    }
    .review-list .review-item:nth-child(8) {
        display: block;
        top: 85.71428571428571%;
        /* font-size: 1em; */
        opacity: 0.2;
    }
    .review-list .review-item:nth-child(9) {
        display: block;
        top: 100%;
        /* font-size: .6em; */
        opacity: 0;
    }
    .partition {
        position: relative;
        padding: 0;
        float: left;
    }
    .partition-1 {
        width: 8.3333%;
    }
    .partition-2 {
        width: 16.6666%;
    }
    .partition-3 {
        width: 24.9999%;
    }
    .partition-4 {
        width: 33.3332%;
    }
    .partition-5 {
        width: 41.6665%;
    }
    .partition-6 {
        width: 49.9998%;
    }
    .partition-7 {
        width: 58.3331%;
    }
    .partition-8 {
        width: 66.6664%;
    }
    .partition-9 {
        width: 74.9997%;
    }
    .partition-10 {
        width: 83.333%;
    }
    .partition-11 {
        width: 91.6663%;
    }
    .partition-12 {
        width: 100%;
    }
    .square {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
    .clearfix:before, .clearfix:after {
        display: block;
        content: '';
        clear: both;
    }
    .floating {
        width: auto;
        height: 96px;
        padding: 0px 12px 0px 96px;
        display: inline-block;
        position: fixed;
        right: 48px;
        bottom: 48px;
        background-color: #ffeb00;
        color: #3c1e1e;
        border-radius: 12px;
        background-image: url(https://s3.ap-northeast-2.amazonaws.com/deveos/kakaolink_btn_medium.png);
        background-size: auto 80%;
        background-position: 8px 50%;
        line-height: 96px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 200;
        font-size: 1.2em;
        text-decoration: none;
        font-weight: 700;
        -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
    }
    .footer {
        z-index: 300;
    }
}

@media screen and (max-width: 1200px) {
    /* .container {
        padding-left: 4px;
        padding-right: 4px;
    } */
}

@media screen and (max-width: 840px) {
    .header .header-menu a {
        padding: 0 12px;
        font-size: .9em;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 14px;
    }
    .container {}
    .header {
        overflow: visible;
    }
    .header .header-right {
        overflow: visible;
    }
    .header .header-menu {
        width: 100%;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 64px;
        background-color: #21232a;
        text-align: right;
        -webkit-transition: right .2s ease-in-out;
        -moz-transition: right .2s ease-in-out;
        -o-transition: right .2s ease-in-out;
        transition: right .2s ease-in-out;
        z-index: 2000;
    }
    .header .header-menu.show {
        right: 0;
    }
    .header .header-menu a {
        display: inline-block;
        padding: 0 20px;
        font-size: 1.2em;
    }
    .text-big {
        font-size: 2.4em;
    }
    .partition {
        width: 100% !important;
        display: block;
        float: unset;
        margin-bottom: 1em;
    }
    .openclass-list .openclass-item .openclass-item-video {
        width: 0%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        max-height: 0px;
        -webkit-transition: all .125s ease-in-out;
        -moz-transition: all .125s ease-in-out;
        -o-transition: all .125s ease-in-out;
        transition: all .125s ease-in-out;
        overflow: hidden;
    }
    .foryou {
        margin-bottom: 0;
    }
    .foryou::after {
        top: unset;
        bottom: -27px;
        left: 50%;
        right: unset;
        transform: translate(-50%, 0%);
    }
    .teacher .teacher-picture {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
    }
    .teacher .teacher-name {
        margin-top: 40px;
    }
    .teacher .teacher-picture img {
        width: 100%;
    }
    .apply-teacher {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        right: unset;
        bottom: unset;
        text-align: center;
    }
    .apply-teacher img {
        width: 70%;
        height: auto;
        position: relative;
        display: inline-block;
        -webkit-filter: unset;
        filter: unset;
    }
    .step-text {
        display: block;
        margin-right: unset;
        margin-bottom: 8px;
    }
    .step-bar {
        width: 3px;
        height: 32px;
        background-color: #9b9b9b;
        display: inline-block;
        margin-right: unset;
        margin-bottom: 4px;
    }
    .floating {
        right: 28px;
        bottom: 28px;
        height: 64px;
        padding: 0px 12px 0px 64px;
        line-height: 60px;
    }
    .desktopOnly {
        display: none;
    }
}

@media screen and (min-width: 640.1px) {
    .mobileOnly {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    body {
        font-size: 17px;
    }
    .container {
        max-width: 1532px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 18px;
    }
    .header .container {
        height: 100%;
        max-width: 2696px;
    }
    .container {
        max-width: 1702px;
    }
}

@media (min-aspect-ratio: 16/9) {
    .background-video video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video video {
        width: auto;
        height: 100%;
    }
}