@media screen {
    * {
        margin: 0px;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    dd,
    a,
    abbr,
    acronym,
    address,
    applet,
    b,
    big,
    blockquote,
    body,
    button,
    caption,
    center,
    cite,
    code,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    fieldset,
    font,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    nav,
    object,
    ol,
    p,
    pre,
    q,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    title,
    tr,
    tt,
    u,
    ul,
    var {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: 0 0;
    }
    dd {
        margin: unset;
        margin-left: 40px;
    }
    img {
        border: none;
    }
    textarea {
        resize: none;
    }
    html {
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    /* body * {
      overflow: hidden;
  } */
    body {
        margin: 0px;
        /* padding: 60px 0 0 0; */
        height: 100%;
        width: 100%;
        font-family: sans-serif;
        font-size: 16px;
        overflow-x: hidden;
        background-color: #ffffff;
    }
    .header {
        width: 100%;
        height: 64px;
        position: fixed;
        background-color: #21232a;
        left: 0;
        top: 0;
        z-index: 300;
        line-height: 64px;
        overflow: hidden;
    }
    .header .header-left {
        width: auto;
        height: 100%;
        position: relative;
        float: left;
    }
    .header .header-right {
        width: auto;
        height: 100%;
        position: relative;
        float: right;
    }
    .header .header-menu {
        width: auto;
        position: relative;
        height: 100%;
    }
    .header .header-menu a {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 0 20px;
        color: #ffffff;
        text-decoration: none;
        box-sizing: border-box;
    }
    .header .header-menu a.highlight::after {
        content: '';
        position: absolute;
        left: 5%;
        top: 50%;
        width: 90%;
        height: 50%;
        border: 1px solid #ffffff;
        border-radius: 24px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .logo {
        width: 256px;
        height: auto;
        position: relative;
        display: inline-block;
        background-size: auto 100%;
        background-position: 4px 50%;
        background-repeat: no-repeat;
        background-image: url("https://s3.ap-northeast-2.amazonaws.com/deveos/DEVEOS+LOGO+(Medium).png");
    }
    .logo.small {
        height: 48px;
    }
    .logo.medium {
        height: 64px;
    }
    .logo.large {
        height: 96px;
    }
    .logo img {
        height: 100%;
        width: auto;
    }
    .section {
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .content-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .background-fixed {
        background-attachment: fixed;
    }
    .background-black {
        background-color: #292929;
    }
    .background-black-2 {
        background-color: #21232a;
    }
    .background-yellow {
        background-color: #f9c00c;
    }
    .background-white {
        background-color: #ffffff;
    }
    .background-highlight {
        background-color: #376e80;
    }
    .background-video {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        background-size: cover;
        background-position: 50% 50%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .background-video video {
        /* width: 100%;
        height: 100%; */
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .foryou::after {
        content: 'ï§';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        width: 48px;
        height: 48px;
        position: absolute;
        background-color: #376e80;
        border-radius: 50%;
        top: 50%;
        right: -27px;
        transform: translate(0%, -50%);
        color: #ffffff;
        z-index: 10;
        line-height: 48px;
    }
    .container {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    .text-title {
        font-size: 3em;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.9px;
        margin-bottom: .5em;
    }
    .text-subtitle {
        font-size: 1.5em;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.5px;
    }
    .button {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        padding: 18px 30px;
        background-color: transparent;
        border: 1px solid transparent;
        text-decoration: none;
        font-size: 1.5em;
        color: #21232a;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.5px;
        margin-right: .2em;
        margin-bottom: .2em;
        cursor: pointer;
        user-select: none;
    }
    .button-white {
        background-color: #ffffff;
        color: #21232a;
        border-color: #ffffff;
    }
    .button-highlight {
        background-color: #376e80;
        color: #ffffff;
        border-color: #376e80;
    }
    .align-left {
        text-align: left;
    }
    .align-center {
        text-align: center;
    }
    .align-right {
        text-align: right;
    }
    .align-justify {
        text-align: justify;
    }
    .color-blue,
    .color-blue::before,
    .color-blue::after {
        color: #111a44;
    }
    .color-black,
    .color-black::before,
    .color-black::after {
        color: #000000;
    }
    .color-white,
    .color-white::before,
    .color-white::after {
        color: #ffffff;
    }
    .color-lightgray,
    .color-lightgray::before,
    .color-lightgray::after {
        color: #c8c8c8;
    }
    .color-gray,
    .color-gray::before,
    .color-gray::after {
        color: #797979;
    }
    .color-yellow,
    .color-yellow::before,
    .color-yellow::after {
        color: #f9c00c;
    }
    .color-red,
    .color-red::before,
    .color-red::after {
        color: #E21C21;
    }
    .color-highlight,
    .color-highlight::before,
    .color-highlight::after {
        color: #376e80;
    }
    .border-highlight {
        border: 3px solid #376e80;
    }
    .display-inline-block {
        display: inline-block;
    }
    .calHeight {
        height: 100%;
    }
    .vertical-top {
        vertical-align: top;
    }
    .vertical-top>* {
        vertical-align: top;
    }
    .vertical-middle {
        vertical-align: middle;
    }
    .vertical-middle>* {
        vertical-align: middle;
    }
    .vertical-bottom {
        vertical-align: bottom;
    }
    .vertical-bottom>* {
        vertical-align: bottom;
    }
    .v-padding-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .v-padding-1 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
    .v-padding-2 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
    .v-padding-3 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }
    .v-padding-4 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }
    .v-padding-5 {
        padding-top: 56px !important;
        padding-bottom: 56px !important;
    }
    .v-padding-6 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
    .h-padding-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .h-padding-1 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .h-padding-2 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .h-padding-3 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
    .h-padding-4 {
        padding-left: 48px !important;
        padding-right: 48px !important;
    }
    .h-padding-5 {
        padding-left: 56px !important;
        padding-right: 56px !important;
    }
    .teacher {
        position: relative;
        border-bottom: 3px solid #376e80;
    }
    /* .teacher:last-child {
        border-bottom: none;
    }
    .teacher::before {
        content: '';
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: -5%;
        right: -5%;
        background-color: #ffffff;
    }
    .teacher::after {
        content: '';
        width: 10%;
        height: 10%;
        position: absolute;
        bottom: -5%;
        left: -5%;
        background-color: #ffffff;
    } */
    .teacher .teacher-name {
        width: 100%;
        height: auto;
        display: block;
        font-size: 2.25em;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.7px;
        color: #545454;
        margin-bottom: 30px;
        margin-top: 120px;
    }
    .teacher .teacher-profile {
        width: 100%;
        height: auto;
        display: block;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #797979;
    }
    .teacher .teacher-picture {
        width: 40%;
        height: auto;
        display: inline-block;
        position: absolute;
        bottom: -4px;
    }
    .teacher:nth-child(2n-1) .teacher-picture {
        left: 0;
    }
    .teacher:nth-child(2n) .teacher-picture {
        right: 0;
    }
    .teacher .teacher-picture img {
        width: 100%;
    }
    .step-text {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
        background-color: #21232a;
        color: #ffffff;
        font-size: 1.5em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        color: #ffffff;
        margin-right: 15px;
        margin-bottom: 4px;
    }
    .step-bar {
        width: 32px;
        height: 6px;
        background-color: #9b9b9b;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 4px;
    }
    .review-list {
        width: 100%;
        height: 280px;
        position: relative;
        overflow: hidden;
    }
    .review-list .review-item {
        width: 100%;
        height: 40px;
        position: absolute;
        left: 0;
        display: none;
        line-height: 40px;
        font-size: 1em;
        transition: all .4s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .review-list .review-item:nth-child(1) {
        display: block;
        top: -14.286%;
        /* font-size: .6em; */
        opacity: 0;
    }
    .review-list .review-item:nth-child(2) {
        display: block;
        top: 0%;
        /* font-size: 1em; */
        opacity: 0.2;
    }
    .review-list .review-item:nth-child(3) {
        display: block;
        top: 14.286%;
        /* font-size: 1.4em; */
        opacity: 0.4;
    }
    .review-list .review-item:nth-child(4) {
        display: block;
        top: 28.57142857142857%;
        /* font-size: 1.8em; */
        opacity: 0.6;
    }
    .review-list .review-item:nth-child(5) {
        display: block;
        top: 42.85714285714286%;
        font-size: 1.5em;
        opacity: 1;
        text-shadow: 0px 4px 20px #797979;
    }
    .review-list .review-item:nth-child(6) {
        display: block;
        top: 57.14285714285714%;
        /* font-size: 1.8em; */
        opacity: 0.6;
    }
    .review-list .review-item:nth-child(7) {
        display: block;
        top: 71.42857142857143%;
        /* font-size: 1.4em; */
        opacity: 0.4;
    }
    .review-list .review-item:nth-child(8) {
        display: block;
        top: 85.71428571428571%;
        /* font-size: 1em; */
        opacity: 0.2;
    }
    .review-list .review-item:nth-child(9) {
        display: block;
        top: 100%;
        /* font-size: .6em; */
        opacity: 0;
    }
    .partition {
        position: relative;
        padding: 0;
        float: left;
    }
    .partition-1 {
        width: 8.3333%;
    }
    .partition-2 {
        width: 16.6666%;
    }
    .partition-3 {
        width: 24.9999%;
    }
    .partition-4 {
        width: 33.3332%;
    }
    .partition-5 {
        width: 41.6665%;
    }
    .partition-6 {
        width: 49.9998%;
    }
    .partition-7 {
        width: 58.3331%;
    }
    .partition-8 {
        width: 66.6664%;
    }
    .partition-9 {
        width: 74.9997%;
    }
    .partition-10 {
        width: 83.333%;
    }
    .partition-11 {
        width: 91.6663%;
    }
    .partition-12 {
        width: 100%;
    }
    .square {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
    }
    .clearfix:before,
    .clearfix:after {
        display: block;
        content: '';
        clear: both;
    }

    .floating{
        width: 64px;
        height: 64px;
        display: inline-block;
        position: fixed;
        right: 48px;
        bottom: 48px;
        background-color: #ffeb00;
        color: #ffffff;
        border-radius: 50%;
        background-image: url(https://s3.ap-northeast-2.amazonaws.com/deveos/kakaolink_btn_medium.png);
        background-size: 80%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (max-width: 640.1px) {
    body {
        font-size: 13px;
    }
    .container {}
    .partition {
        width: 100% !important;
        display: block;
        float: unset;
        margin-bottom: 1em;
    }
    .foryou {
        margin-bottom: 0;
    }
    .foryou::after {
        top: unset;
        bottom: -27px;
        left: 50%;
        right: unset;
        transform: translate(-50%, 0%);
    }
    .teacher .teacher-picture {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
    }
    .teacher .teacher-name {
        margin-top: 40px;
    }
    .teacher .teacher-picture img {
        width: 100%;
    }
    .step-text {
        display: block;
        margin-right: unset;
        margin-bottom: 8px;
    }
    .step-bar {
        width: 3px;
        height: 32px;
        background-color: #9b9b9b;
        display: inline-block;
        margin-right: unset;
        margin-bottom: 4px;
    }
}

@media (min-aspect-ratio: 16/9) {
    .background-video video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video video {
        width: auto;
        height: 100%;
    }
}